@import "https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #E5E5E5;
}

.header {
  padding: 0 4.8rem;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C4769;
}
.header .logo {
  font-size: 24px;
}

.row-reverse {
  margin-top: 0px !important;
}

.logo-txt1 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.logo-txt2 {
  font-size: 24px;
  font-weight: 600;
  color: #D18821;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link {
  padding: 12px 16px;
}
.navbar-link:link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s;
}
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s;
}
.navbar-link:hover {
  color: #364fc7;
}
.navbar-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #ffffff;
}

.mobile-nav-icon[name=close-outline] {
  display: none;
}

.navbar-link.active {
  background-color: rgba(33, 37, 41, 0.4);
  padding: 12px 16px;
}

.footer {
  background-color: #1C4769;
  padding: 30px 20px;
  color: #fff;
  padding-top: 70px;
}
.footer h3 {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.231818px;
  margin-bottom: 20px;
  font-size: 16px;
}
.footer p {
  font-size: 16px;
  margin-bottom: 24px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 15px;
  padding: 10px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin-bottom: 0px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}

footer ul li {
  margin-bottom: 20px;
}
footer ul li a {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.204545px;
  color: #DEDEDE;
}

.social-icons {
  display: flex;
}
.social-icons li {
  margin-right: 10px;
}
.social-icons li a {
  color: #fff;
  font-size: 20px;
  font-size: 16px;
}

form {
  display: flex;
  align-items: center;
}
form input {
  padding: 10px;
  width: 200px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: white;
  width: 100%;
}
form input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 15px;
}
form input:focus-visible {
  outline: none;
  box-shadow: none;
}
form button {
  padding: 10px 20px;
  background-color: #fff;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #D18821;
  border-radius: 8px 8px 0px 0px;
  width: 50px;
}

.footer-company-description {
  margin-top: 24px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.204545px;
  color: #ADADAD;
}

.copyright-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  letter-spacing: -0.204545px;
  color: #EFEFEF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 122px;
}

.footer-nav {
  padding: 0px 50px;
}

.footer-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.social-icons-mobile {
  display: none;
}

.section-contact {
  background-color: #FFFFFF;
  padding: 80px 0px;
}
.section-contact p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 120px;
}

.contact-img {
  height: 370px;
}

.section-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 24px;
  text-align: center;
}

.contact-item {
  font-size: 18px;
  margin-bottom: 28px;
}
.contact-item span {
  margin-left: 30px;
}

.customer-support h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 50px;
}
.customer-support p {
  text-align: left;
  margin-bottom: 40px;
}

.contact-button {
  padding: 10px 24px;
  background: #D18821;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.mobile-icon2 {
  height: 280px;
}

.about-steps {
  width: 310px;
}
.about-steps h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 26px;
  color: #D18821;
  margin-bottom: 16px;
}
.about-steps h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #252F40;
  margin-bottom: 24px;
  text-align: left;
}
.about-steps p {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4B5A78;
  margin-bottom: 52px;
}

.about-img-col {
  display: flex;
  justify-content: end;
}

.circle-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D18821;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

.circle-button.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    color: #212529;
  }
  .header {
    position: relative;
    flex-flow: row-reverse;
  }
  .header .logo {
    width: 50%;
  }
  .navbar {
    width: 100%;
    height: 100vh;
    background: #1C4769;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 40;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name=close-outline] {
    display: block;
    position: fixed;
    top: 20px;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name=menu-outline] {
    display: none;
  }
}
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }
  .header .logo {
    width: 60%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .footer-container {
    max-width: 540px;
  }
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .footer-container {
    max-width: 720px;
  }
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .footer-container {
    max-width: 960px;
  }
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .footer-container {
    max-width: 95%;
  }
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .footer-nav {
    padding: unset;
  }
  .row-reverse {
    flex-flow: column-reverse;
    padding: 0px 20px;
  }
  .m-24 {
    margin-bottom: 24px;
  }
  form {
    margin-bottom: 20px;
  }
  form input {
    border-bottom: 1px solid #000;
  }
  .social-col {
    display: none;
  }
  .copyright-txt {
    margin-top: 50px;
    text-align: left;
  }
  .about-img-col {
    justify-content: center;
    margin-bottom: 63px;
  }
  .about-steps {
    padding: 20px;
    width: 100%;
  }
}
@media (max-width: 565px) {
  .social-icons-mobile {
    display: flex;
    position: absolute;
    right: 10px;
  }
  .footer {
    padding-top: 38px;
  }
}
@media (max-width: 992px) {
  .row-m-center {
    display: flex;
    justify-content: center;
  }
  .contact-img {
    margin-bottom: 32px;
  }
}

/*# sourceMappingURL=output.css.map */
